<div class="container">
  <div class="page-header">
    <h1 class="text-danger text-center">Ujjwal TShirt Company</h1>
  </div>

  <hr />
  <br />


  <div class="row">
    <div class="col-md-7">
      <div *ngFor="let t of products" class="card mb-3" style="max-width:540 px">
        <div class="row no-gutters">
          <div class="col-md-4">
          <img (mouseenter)='t.imggsrc=t.imageUrlBack' (mouseleave)='t.imggsrc=t.imageUrlFront'
            [src]='t.imggsrc||t.imageUrlFront' class='card-img' alt="...">

        </div>
        <div class='col-md-8'>
          <div class="card-body">
            <h5 class='card-title'>{{t.name}}</h5>
            <p class='card-text'>{{t.description}}</p>
            <div class="card-text alert alert-success" role="alert">
              Price:{{t.price}}
            </div>

            <div class="row">
              <div class="col-md-7">
                <button [disabled]="buyButton" class="btn btn-danger" (click)='addtocart(t)'>Add to Cart</button>
              </div>
              <div class="col-md-5">
                Quantity : <span [style.color]="t.Instock<25?'red':'blue'">{{t.Instock}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="col-md-5">
      <app-tshirt-details *ngIf="showDetails" (buyevent)='update($event)' (cancelevent)='cancel($event)' [tshirt]='tshirtdetails'></app-tshirt-details>
    </div>
  

</div>
</div>